@font-face {
    font-family: StratosSkyeng;
    src:
        url("../fonts/stratosskyengweb-regular.woff") format("woff"),
        url("../fonts/stratosskyengweb-regular.woff2") format("woff2");
}

body {
    margin: 0;
    background-color: rgb(0 73 128);
    font-family: StratosSkyeng, sans-serif;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background: rgb(194 245 255);
    width: 480px;
    height: 459px;
    border-radius: 12px;
}

.level-text {
    color: rgb(0 73 128);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    width: 208px;
}

.level_checkbox {
    margin-top: 48px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-toolbar {
    display: flex;
    align-items: center;
    gap: 26px;
}

.radio_button {
    background-color: white;
    text-align: center;
    width: 96px;
    height: 98px;
    border: 1px solid red;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    color: rgb(0 128 193);
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    background-color: white;
    width: 96px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.radio-toolbar label:hover {
    background-color: #fff;
    border: 1px solid rgb(0 73 128);
}

.radio-toolbar label.active {
    border: 1px solid rgb(185 22 90);
    transform: scale(0.95);
}

.start_btn {
    width: 246px;
    height: 48px;
    background-color: #7ac100;
    color: rgb(255 255 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: 67px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
}

.display {
    color: rgb(255 255 255);
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
}

.label {
    color: rgb(255 255 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.time_text {
    display: flex;
    gap: 57px;
    padding-left: 35px;
}

.stopwatch {
    padding-left: 22px;
}

.restart {
    color: rgb(255 255 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #7ac100;
    width: 246px;
    height: 48px;
    margin-top: 52px;
    margin-right: 23px;
}

.img_win {
    width: 96px;
    height: 96px;
    padding-top: 30px;
}

.text_win {
    color: rgb(0 73 128);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    height: 48px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 28px;
}

.text_spendTime {
    color: rgb(0 0 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    height: 32px;
    width: 230px;
    margin: 0;
}

.spendTime {
    color: rgb(0 0 0);
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

.restart-again {
    color: rgb(255 255 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #7ac100;
    width: 246px;
    height: 48px;
}

.modal-content-win {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 83px;
    height: 121px;
    border-radius: 4px;
    background: rgb(228 251 255);
    background-image: url("../cards/shirt.png");
}

.cards {
    display: grid;
    grid-template-columns: repeat(9, 110px);
    gap: 27px;
    padding-left: 29px;
    justify-items: center;
}
